.graphContainer {
  position: absolute;
  right: -6%;
  bottom: -22%;
  width: 338px;

  @media (max-width:400px) {
    right: -14%;
    bottom: -55%;
    width: 323px;
  }

  @media (min-width:401px) and (max-width:800px) {
    right: -2%;
    bottom: -23%;
    width: 285px;
  }

  @media (max-width:300px) {
    right: -17%;
    bottom: -40%;
    width: 253px;


  }

  @media (min-width:400px) {}
}